$color-primary: #FF6464;
$color-secondry: #00A8CC;
$color-dark: #21243D;
$color-black: #000;
$color-white: #fff;
$color-light: #8695A4;
$color-background-light: #EDF7FA;
$color-background-blue: #142850;

* {
    box-sizing: border-box;
}

body {
    color: $color-dark;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 856px;
    margin: 0 auto;
    width: 100%;
}

.header {
    .container {
        max-width: 1050px;
        min-height: 50px;
        margin-bottom: 33px;
    }
    &__menu-buttons {
        .icon {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 12px;
            right: 12px;
            cursor: pointer;
            transition-property: all; 
            transition-duration: 0.3s;
            &:hover {
                fill: $color-primary;
            }
        }
    }
    &__navigation {
        position: relative;
        ul {
            display: none;
            a {
                text-decoration: none;
                font-weight: 500;
                font-size: 20px;
                color: $color-black;
                transition-property: color; 
                transition-duration: 0.3s;
                &:hover {
                    color: $color-primary;
                }
            }
        }
        .icon-close {
            display: none;
        }
    }
    &__navigation--active {
        position: relative;
        padding: 50px 0;
        ul {
            display: unset;
            li:not(:last-child) {
                margin-bottom: 20px;
            }
            a {
                display: block;
                text-align: center;
            }
        }
        .icon-close {
            display: unset;
        }
        .icon-menu {
            display: none;
        }
    }
}

.short-description {
    .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    &__photo {
        margin-bottom: 43px;
        position: relative;
        &::after {
            display: inline-block;
            position: absolute;
            content: ' ';
            background-color: $color-background-light;
            width: 170px;
            height: 170px;
            border-radius: 50%;
            top: 9px;
            right: 3px;
            z-index: -1;
        }
        img {
            width: 170px;
            height: 170px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            width: 312px;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            margin-bottom: 21px;
        }
        p {
            width: 328px;
            font-size: 16px;
            line-height: 23px;
            text-align: center;
            margin-bottom: 27px;
        }
        button {
            max-width: 208px;
            padding: 15px 19px 17px;
            font-weight: 500;
            font-size: 20px;
            color: $color-white;
            background-color: $color-primary;
            border-radius: 2px;
            border: none;
            cursor: pointer;
            transition-property: all;
            transition-duration: 0.3s;
            margin-bottom: 59px;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.blog {
    background-color: $color-background-light;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }
    &__header {
        margin: 19px 0 24px;
        span {
            font-size: 18px;
            &:last-child {
                display: none;
            }
        }
    }
    &__posts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 38px;
    }
    .card-post {
        padding: 12px 21px 22px 19px;
        background-color: $color-white;
        max-width: 354px;
        min-height: 266px;
        box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
        border-radius: 4px;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.3s;
        &:hover {
            box-shadow: 0px 8px 14px rgba(187, 225, 250,);
        }
        &:hover .card-post__title {
            color: $color-secondry;
        }
        &:not(:last-child) {
            margin-bottom: 17px;
        }
        &__title {
            margin-bottom: 12px;
            font-weight: 700;
            font-size: 22px;
            line-height: 30px;
            transition-property: color;
            transition-duration: 0.3s;
        }
        &__info {
            margin-bottom: 19px;
            time, span {
                font-size: 16px;
            }
            time {
                padding-right: 24px;
                margin-right: 24px;
                border-right: solid 1px $color-black;
            }
        }
        &__content {
            font-size: 16px;
            line-height: 23px;
        }
    }
}

.works {
    .container {
        padding-top: 25px;
    }
    &__header {
        font-size: 18px;
        margin-bottom: 25px;
        text-align: center;
    }
    &__catalog {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 150px;
    }
    .work-card {
        max-width: 344px;
        border-bottom: 1px solid #E0E0E0;
        cursor: pointer;
        &:not(:last-child) {
            margin-bottom: 17px;
        }
        &:hover .work-card__title {
            color: $color-secondry;
        }
        &:hover img {
            transform: scale(1.02);
        }
        img {
            width: 339px;
            object-fit: cover;
            border-radius: 6px;
            margin-bottom: 17px;
            transition-property: transform;
            transition-duration: 0.3s;
        }
        &__title {
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 16px;
            transition-property: color;
            transition-duration: 0.3s;
        }
        &__info {
            margin-bottom: 24px;
            time {
                display: inline-block;
                padding: 6px 12px;
                border-radius: 16px;
                background-color: $color-background-blue;
                color: $color-white;
                font-weight: 900;
                font-size: 16px;
                margin-right: 22px;
            }
            span {
                font-size: 16px;
                color: $color-light;
            }
        }
        &__txt {
            font-size: 16px;
            line-height: 23px;
            margin-bottom: 17px;
        }
    }
}

.footer {
    .container {
        padding-top: 51px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__smm {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 26px;
        li:not(:last-child) {
            margin-right: 35px;
        }
        .icon {
            width: 30px;
            height: 30px;
            fill: $color-dark;
            transition-property: fill;
            transition-duration: 0.3s;
            &:hover {
                fill: $color-secondry;
            }
        }
    }
    span {
        margin-bottom: 54px;
        font-size: 14px;
    }
}

@media screen and (min-width:1200px){
    .header {
        .container {
            min-height: 70px;
            margin-bottom: 140px;
        }
        &__menu-buttons {
            .icon {
                display: none;
            }
        }
        &__navigation {
            display: flex;
            justify-content: flex-end;
            padding-top: 33px;
            ul {
                display: flex;
                li:not(:last-child) {
                    margin-right: 33px;
                }
            }
        }
    }

    .short-description {
        .container {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
            margin-bottom: 71px;
        }
        &__photo {
            margin-bottom: 0;
            &::after {
                width: 243px;
                height: 243px;
                top: 13px;
                right: 5px;
            }
            img {
                width: 243px;
                height: 243px;
                border-radius: 50%;
            }
        }
        &__text {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            h1 {
                padding-top: 18px;
                width: 438px;
                font-size: 44px;
                line-height: 60px;
                text-align: start;
                margin-bottom: 40px;
            }
            p {
                width: 497px;
                text-align: start;
                margin-bottom: 38px;
            }
            button {
                margin-bottom: 0;
            }
        }
    }

    .blog {
        .container{
            display: block;
            padding: 0;
            padding-bottom: 32px;
        }
        &__header {
            padding-top: 27px;
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
                font-size: 22px;
                &:last-child {
                    display: unset;
                    font-size: 16px;
                    cursor: pointer;
                    transition-property: color;
                    transition-duration: 0.3s;
                    &:hover {
                        color: $color-secondry;
                    }
                }
            }
        }
        &__posts {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            margin-bottom: 0;
            justify-content: space-between;
        }
        .card-post {
            padding: 24px 21px 20px 23px;
            background-color: $color-white;
            max-width: 418px;
            min-height: 295px;
            &:not(:last-child) {
                margin-bottom: 0;
            }
            &__title {
                margin-bottom: 22px;
                font-size: 26px;
                line-height: 38px;
            }
            &__info {
                margin-bottom: 22px;
                time, span {
                    font-size: 18px;
                }
                time {
                    padding-right: 32px;
                    margin-right: 25px;
                    border-right: solid 1px $color-black;
                }
            }
            &__content {
                font-size: 16px;
                line-height: 23px;
            }
        }
    }

    .works {
        &__header {
            font-size: 22px;
            margin-bottom: 45px;
            text-align: start;
        }
        &__catalog {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            margin-bottom: 83px;
        }
        .work-card {
            display: flex;
            align-items: center;
            min-height: 247px;
            max-width: 100%;
            border-bottom: 1px solid #E0E0E0;
            &:not(:last-child) {
                margin-bottom: 0;
            }
            img {
                width: 246px;
                object-fit: cover;
                border-radius: 6px;
                margin-bottom: 0;
                margin-right: 18px;
            }
            &__title {
                font-size: 30px;
                line-height: 44px;
                margin-bottom: 16px;
    
            }
            &__info {
                margin-bottom: 22px;
                time {
                    display: inline-block;
                    padding: 6px 10px;
                    font-size: 18px;
                    margin-right: 26px;
                }
                span {
                    font-size: 20px;
                }
            }
        }
    }
}