$color-primary: #FF6464;
$color-secondry: #00A8CC;
$color-dark: #21243D;
$color-black: #000;
$color-white: #fff;
$color-light: #8695A4;
$color-background-light: #EDF7FA;
$color-background-blue: #142850;

body {
    color: $color-dark;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
    width: 100%;
}

.header {
    .container {
        min-height: 50px;
        margin-bottom: 33px;
    }
    &__menu-buttons {
        .icon {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 12px;
            right: 12px;
            cursor: pointer;
            transition-property: all; 
            transition-duration: 0.3s;
            &:hover {
                fill: $color-secondry;
            }
        }
    }
    &__navigation {
        position: relative;
        ul {
            display: none;
            a {
                text-decoration: none;
                font-weight: 500;
                font-size: 20px;
                color: $color-black;
                transition-property: color; 
                transition-duration: 0.3s;
                &:hover {
                    color: $color-secondry;
                }
            }
        }
        .icon-close {
            display: none;
        }
    }
    &__navigation--active {
        position: relative;
        padding: 50px 0;
        ul {
            display: unset;
            li:not(:last-child) {
                margin-bottom: 20px;
            }
            a {
                display: block;
                text-align: center;
            }

        }
        .icon-close {
            display: unset;
        }
        .icon-menu {
            display: none;
        }

    }
}

.short-description {
    .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    &__photo {
        margin-bottom: 43px;
        img {
            position: relative;
            width: 170px;
            height: 170px;
            border-radius: 50%;
            // &::after {
            //     position: absolute;
            //     content: ' ';
            //     background-color: $color-background-light;
            //     top: 5px;
            //     right: 5px;
            // }
        }
        
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            width: 312px;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            margin-bottom: 21px;
        }
        p {
            width: 328px;
            font-size: 16px;
            line-height: 23px;
            text-align: center;
            margin-bottom: 27px;
        }
        button {
            padding: 15px 20px 17px;
            font-weight: 500;
            font-size: 20px;
            color: $color-white;
            background-color: $color-primary;
            border-radius: 2px;
            border: none;
            cursor: pointer;
            transition-property: all;
            transition-duration: 0.3s;
            margin-bottom: 59px;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.blog {
    .container{
        background-color: $color-background-light;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }
    &__header {
        margin: 19px 0 24px;
        span {
            font-size: 18px;
            &:last-child {
                display: none;
            }
        }
    }
    &__posts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 38px;
    }
    .card-post {
        padding: 12px 21px 22px 19px;
        background-color: $color-white;
        max-width: 354px;
        min-height: 266px;
        box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
        border-radius: 4px;

        &:not(:last-child) {
            margin-bottom: 17px;
        }
        
        &__title {
            margin-bottom: 12px;
            font-weight: 700;
            font-size: 22px;
            line-height: 30px;
        }
        &__info {
            margin-bottom: 19px;
            time, span {
                font-size: 16px;
            }
            time {
                padding-right: 24px;
                margin-right: 24px;
                border-right: solid 1px $color-black;
            }
        }
        &__content {
            font-size: 16px;
            line-height: 23px;
        }
    }
}
